[submodule "ext/slicedrop"]
	path = ext/slicedrop
	url = https://github.com/slicedrop/slicedrop.github.com.git
[submodule "ext/example-motion-correction"]
	path = ext/example-motion-correction
	url = https://github.com/SESA/example-motion-correction.git
	branch = autoMask
[submodule "ext/EbbRT-fetalRecon"]
	path = ext/EbbRT-fetalRecon
	url = https://github.com/jas91/EbbRT-fetalRecon.git
