doctype html
html
	head
		title=title
		link(rel='stylesheet' href='/dropzone/dropzone.css')
		script(src='dropzone/dropzone.js')
	body
		script.
			Dropzone.options.zone1 = {
				uploadMultiple: true,
				parallelUploads: 100,
				acceptedFiles: '.nii.gz, .nii',
				success: function (file) {console.log('SUCCESS CALLBACK');},
				init: function () {
					var trans = null;
					this.on("queuecomplete", function () {
						console.log('queuecomplete: trans: ' + trans);
						if (trans == null) { 
							console.log("NYI: ERROR HANDLING"); 
						} else {
						        console.log("loading status for transaction: " + trans);
							window.setTimeout(function() { window.location.href = "/status/" + trans; }, 1000);
						}	
					});
					//this.on("successmultiple", function(files, responseText) {
					//	console.log('successmultiple: ' + responseText);
					//	window.setTimeout(function() { window.location.href = "/status/" + responseText; }, 1000);
					//});
					this.on("success", function(files, responseText) {
						console.log('success: ' + responseText);
						console.log('trans: ' + trans);
						if (trans == null) { trans = responseText; }
					});
					//this.on("complete", function(files) {
					//	console.log('complete');
					//});
					//this.on("completemultiple", function(files) {
					//	console.log('completemultiple');
					//});
					//this.on("addedfile", function(files) {
					//	console.log('addedfile');
					//});
				}
			};

		form#zone1(action = 'file-upload', class = 'dropzone')
